@page "/city"

@implements IDisposable

@using System
@using System.Text
@using System.Reflection
@using Dapper;
@using System.Data.SqlClient;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;
@using Microsoft.Extensions.Configuration;
@using System.Globalization;
@using Microsoft.Extensions.Logging;
@using Microsoft.Extensions.Logging.EventLog;
@using Blazored.SessionStorage;
@using Mentor.Data;
@using System.Text.RegularExpressions;

@inject IConfiguration AppConfig
@inject ISessionStorageService SessionStorage
@inject IPermissionService PermissionService;

@inject TooltipService TooltipService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService

@inject ICityService CityService

@if (AppState.IsNull())
{
    <p>Loading menu...</p>
}
else
{
    <TopMenu AppState="@AppState" IsRendered="@IsRendered"></TopMenu>
}

@if (CityObject.IsNotNull())
{
    <RadzenRow Style="margin-top:60px">
        <RadzenColumn Size="12">
            <RadzenTabs RenderMode="TabRenderMode.Client" Style="height: max-content">
                <Tabs>
                    <RadzenTabsItem Text="City">
                        <RadzenCard>
                            <RadzenButton Text="Save" Icon="save" Click="CitySave" Disabled="@DisableSave" Style="margin-right:5px" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                            <RadzenButton Text="Delete" Icon="cancel" Click="CityDelete" Disabled="@DisableDelete" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                        </RadzenCard>

                        <RadzenCard>
                            <RadzenStack Style="width:inherit" Orientation="Orientation.Horizontal">
                                <RadzenStack Style="width:50%">
                                    <RadzenRow>
                                        <RadzenColumn Size="@ColumnLabelSize"><RadzenText Text="City Name"></RadzenText></RadzenColumn>
                                        <RadzenColumn Size="@ColumnControlSize"><RadzenTextBox Style="width:inherit" @bind-Value=@CityObject.CITY_NAME MaxLength="50" Placeholder="" Change="@OnChange"></RadzenTextBox></RadzenColumn>
                                    </RadzenRow>
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenColumn>
    </RadzenRow>
}