@page "/settings"

@implements IDisposable

@using System
@using System.Text
@using System.Reflection
@using Dapper;
@using System.Data.SqlClient;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;
@using Microsoft.Extensions.Configuration;
@using System.Globalization;
@using Blazored.SessionStorage;
@using Mentor.Data;
@using System.Text.RegularExpressions;

@inject IConfiguration AppConfig
@inject ISessionStorageService SessionStorage
@inject IPermissionService PermissionService

@inject TooltipService TooltipService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService

@inject IUserService UserService
@inject ILevelService LevelService
@inject ISubjectService SubjectService
@inject ICityService CityService

@if (AppState.IsNull())
{
    <p>Loading menu...</p>
}
else
{
    <TopMenu AppState="@AppState" IsRendered="@IsRendered"></TopMenu>
}

@if ((AppState.UserInfo.IsNotNull()) && (AppState.UserInfo.IsAuthenticated.IsTrue()))
{
    <RadzenRow Style="margin-top:60px">
        <RadzenColumn Size="12">
            <RadzenTabs RenderMode="TabRenderMode.Client" Style="height: max-content">
                <Tabs>
                    <RadzenTabsItem Text="Users">
                        <RadzenCard Style="margin-top:10px">
                            <RadzenGrid Data="@UserEnum"
                                        AllowFiltering="true"
                                        ClearFilterText="true"
                                        AllowColumnResize="true"
                                        FilterMode="FilterMode.Simple"
                                        PageSize=25
                                        AllowPaging="true"
                                        AllowSorting="true"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.And"
                                        Visible="true">
                                <Columns>
                                    <RadzenGridColumn TItem="UserModel" Property="USER_ID" Filterable="false" Title="ID" Width="65px" TextAlign="TextAlign.Right" />
                                    <RadzenGridColumn TItem="UserModel" Property="USER_FULLNAME" Title="Fullname" TextAlign="TextAlign.Left" />
                                    <RadzenGridColumn TItem="UserModel" Property="GROUP_NAME" Title="Group" Width="120px" TextAlign="TextAlign.Right" />
                                    <RadzenGridColumn TItem="UserModel" Property="WORK_TYPE_NAME" Title="Worktype" Width="120px" TextAlign="TextAlign.Right" />

                                    <RadzenGridColumn TItem="UserModel" Property="IS_ACTIVE" Title="Active" Filterable="true" Sortable="false" Width="50px" TextAlign="TextAlign.Center">
                                        <Template Context="UserModel">
                                            <RadzenCheckBox @bind-Value="UserModel.IS_ACTIVE" Disabled="true" TriState="false" TValue="bool" />
                                        </Template>
                                    </RadzenGridColumn>

                                    <RadzenGridColumn TItem="UserModel" Property="USER_ID" Title="Edit" Sortable="false" Filterable="false" Width="65px" TextAlign="TextAlign.Center">
                                        <Template Context="UserModel">
                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="more_horiz" Click=@(() => UserEdit(UserModel.USER_ID)) />
                                        </Template>
                                    </RadzenGridColumn>
                                </Columns>
                            </RadzenGrid>

                        </RadzenCard>
                    </RadzenTabsItem>

                    <RadzenTabsItem Text="Subjects">
                        <RadzenCard>
                            <RadzenButton Text="Add New" Icon="save" Click="SubjectAdd" Style="margin-right:5px" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                        </RadzenCard>

                        <RadzenCard Style="margin-top:10px">
                            <RadzenGrid Data="@SubjectEnum"
                                        AllowFiltering="true"
                                        ClearFilterText="true"
                                        AllowColumnResize="true"
                                        FilterMode="FilterMode.Simple"
                                        PageSize=25
                                        AllowPaging="true"
                                        AllowSorting="true"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.And"
                                        Visible="true">
                                <Columns>
                                    <RadzenGridColumn TItem="SubjectModel" Property="SUBJECT_ID" Filterable="false" Title="ID" Width="65px" TextAlign="TextAlign.Right" />
                                    <RadzenGridColumn TItem="SubjectModel" Property="SUBJECT_NAME" Title="Subject" TextAlign="TextAlign.Left" />

                                    <RadzenGridColumn TItem="SubjectModel" Property="IS_ACTIVE" Title="Active" Filterable="true" Sortable="false" Width="65px" TextAlign="TextAlign.Center">
                                        <Template Context="SubjectModel">
                                            <RadzenCheckBox @bind-Value="SubjectModel.IS_ACTIVE" Disabled="true" TriState="false" TValue="bool" />
                                        </Template>
                                    </RadzenGridColumn>

                                    <RadzenGridColumn TItem="SubjectModel" Property="SUBJECT_ID" Title="Edit" Sortable="false" Filterable="false" Width="65px" TextAlign="TextAlign.Center">
                                        <Template Context="SubjectModel">
                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="more_horiz" Click=@(() => SubjectEdit(SubjectModel.SUBJECT_ID)) />
                                        </Template>
                                    </RadzenGridColumn>

                                </Columns>
                            </RadzenGrid>
                        </RadzenCard>
                    </RadzenTabsItem>

                    <RadzenTabsItem Text="Levels">
                        <RadzenCard>
                            <RadzenButton Text="Add New" Icon="save" Click="LevelAdd" Style="margin-right:5px" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                        </RadzenCard>

                        <RadzenCard Style="margin-top:10px">
                            <RadzenGrid Data="@LevelEnum"
                                        AllowFiltering="true"
                                        ClearFilterText="true"
                                        AllowColumnResize="true"
                                        FilterMode="FilterMode.Simple"
                                        PageSize=25
                                        AllowPaging="true"
                                        AllowSorting="true"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.And"
                                        Visible="true">
                                <Columns>
                                    <RadzenGridColumn TItem="LevelModel" Property="LEVEL_ID" Filterable="false" Title="ID" Width="65px" TextAlign="TextAlign.Right" />
                                    <RadzenGridColumn TItem="LevelModel" Property="LEVEL_NAME" Title="Level" TextAlign="TextAlign.Left" />

                                    <RadzenGridColumn TItem="LevelModel" Property="IS_ACTIVE" Title="Active" Filterable="true" Sortable="false" Width="65px" TextAlign="TextAlign.Center">
                                        <Template Context="LevelModel">
                                            <RadzenCheckBox @bind-Value="LevelModel.IS_ACTIVE" Disabled="true" TriState="false" TValue="bool" />
                                        </Template>
                                    </RadzenGridColumn>

                                    <RadzenGridColumn TItem="LevelModel" Property="LEVEL_ID" Title="Edit" Sortable="false" Filterable="false" Width="65px" TextAlign="TextAlign.Center">
                                        <Template Context="LevelModel">
                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="more_horiz" Click=@(() => LevelEdit(LevelModel.LEVEL_ID)) />
                                        </Template>
                                    </RadzenGridColumn>

                                </Columns>
                            </RadzenGrid>
                        </RadzenCard>

                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Cities">
                        <RadzenCard>
                            <RadzenButton Text="Add New" Icon="save" Click="CityAdd" Style="margin-right:5px" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                        </RadzenCard>

                        <RadzenCard Style="margin-top:10px">
                            <RadzenGrid Data="@CityEnum"
                                        AllowFiltering="true"
                                        ClearFilterText="true"
                                        AllowColumnResize="true"
                                        FilterMode="FilterMode.Simple"
                                        PageSize=25
                                        AllowPaging="true"
                                        AllowSorting="true"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        LogicalFilterOperator="LogicalFilterOperator.And"
                                        Visible="true">
                                <Columns>
                                    <RadzenGridColumn TItem="CityModel" Property="CITY_ID" Filterable="false" Title="ID" Width="65px" TextAlign="TextAlign.Right" />
                                    <RadzenGridColumn TItem="CityModel" Property="CITY_NAME" Title="City" TextAlign="TextAlign.Left" />

                                    <RadzenGridColumn TItem="CityModel" Property="CITY_ID" Title="Edit" Sortable="false" Filterable="false" Width="65px" TextAlign="TextAlign.Center">
                                        <Template Context="CityModel">
                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="more_horiz" Click=@(() => CityEdit(CityModel.CITY_ID)) />
                                        </Template>
                                    </RadzenGridColumn>

                                </Columns>
                            </RadzenGrid>
                        </RadzenCard>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenColumn>
    </RadzenRow>
}
