@page "/signup"

@implements IDisposable

@using Dapper;
@using System.Data.SqlClient;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;
@using System.Text;
@using Microsoft.Extensions.Configuration;
@using System.Globalization;
@using System.Reflection;
@using Blazored.SessionStorage;
@using Mentor.Data;
@using System;
@using System.Text.RegularExpressions;

@inject IConfiguration AppConfig
@inject ISessionStorageService SessionStorage
@inject IPermissionService PermissionService;

@inject TooltipService TooltipService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService

@inject IUserService UserService;
@inject IGroupService GroupService;
@inject IWorkTypeService WorkTypeService;



@if (AppState.IsNull())
{
    <p>Loading menu...</p>
}
else
{
    <TopMenu AppState="@AppState" IsRendered="@IsRendered"></TopMenu>
}

<RadzenRow Style="margin-top:50px; margin-bottom:20px">
    <RadzenColumn Size="3"></RadzenColumn>
    <RadzenColumn Size="6">
        <RadzenCard Style="width:600px; border-radius: 20px">
            <div style="width: 562px; align-items: center; vertical-align: middle; text-align: center">
                <RadzenImage Path="images/logo.png" Style="height: 50px; width: 250px; margin-top: 15px; margin-bottom: 15px; border-radius: 10px;"></RadzenImage>
            </div>
            <hr class="my-12" />
            <RadzenRow Style="padding: 15px; width:inherit">
                <RadzenColumn Size="4" Style="text-align:right;">
                    Fullname:
                </RadzenColumn>
                <RadzenColumn Size="8">
                    <RadzenTextBox @bind-Value="UserObject.USER_FULLNAME" MouseEnter="@(args => ShowTooltip(args, "Enter your first and last name."))" Style="width:250px" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="padding: 15px; width:inherit;">
                <RadzenColumn Size="4" Style="text-align:right;">
                    Nickname:
                </RadzenColumn>
                <RadzenColumn Size="8">
                    <RadzenTextBox @bind-Value="UserObject.USER_NICKNAME" MouseEnter="@(args => ShowTooltip(args, "Enter an unique nickname."))" Style="width:250px" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="padding: 15px; width:inherit">
                <RadzenColumn Size="4" Style="text-align:right;">
                    Email:
                </RadzenColumn>
                <RadzenColumn Size="8">
                    <RadzenTextBox @bind-Value="UserObject.USER_EMAIL" Style="width:250px" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="padding: 15px; width:inherit">
                <RadzenColumn Size="4" Style="text-align:right;">
                    Phone:
                </RadzenColumn>
                <RadzenColumn Size="8">
                    <RadzenTextBox @bind-Value="UserObject.USER_PHONE" Style="width:250px" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="padding: 15px; width:inherit">
                <RadzenColumn Size="4" Style="text-align:right;">
                    Password:
                </RadzenColumn>
                <RadzenColumn Size="8">
                    <RadzenPassword @bind-Value="UserObject.USER_PASS" MouseEnter="@(args => ShowTooltip(args, "Password must have 8+ characters - at least one lower case, upper case and digit."))" Style="width:250px" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="padding: 15px; width:inherit">
                <RadzenColumn Size="4" Style="text-align:right;">
                    Repeat Password:
                </RadzenColumn>
                <RadzenColumn Size="8">
                    <RadzenPassword @bind-Value="UserPassRepeat" Style="width:250px" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="padding: 15px; width:inherit">
                <RadzenColumn Size="4" Style="text-align:right;">
                    User Type:
                </RadzenColumn>
                <RadzenColumn Size="8">
                    <RadzenDropDown @bind-Value=@UserObject.GROUP_ID
                                    TextProperty="GROUP_NAME"
                                    ValueProperty="GROUP_ID"
                                    TValue="int"
                                    AllowClear="false"
                                    Style="width:250px"
                                    Data=@GroupEnum />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="padding: 15px; width:inherit">
                <RadzenColumn Size="4" Style="text-align:right;" Visible="IsWorkTypeVisible">
                    Work Type:
                </RadzenColumn>
                <RadzenColumn Size="8">
                    <RadzenDropDown @bind-Value=@UserObject.WORK_TYPE_ID
                                    TextProperty="WORK_TYPE_NAME"
                                    ValueProperty="WORK_TYPE_ID"
                                    TValue="int"
                                    AllowClear="false"
                                    Visible="IsWorkTypeVisible"
                                    Style="width:250px"
                                    Data=@WorkTypeEnum />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow Style="padding: 15px;">
                <RadzenColumn Size="4"></RadzenColumn>

                @if (AppState.IsNull())
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <RadzenColumn Size="8" Style="align-content:end">
                        <RadzenButton Click=@(args => OnClick("SIGNUP")) Text="Sign Up" Style="margin-left:10px; width: 150px" ButtonStyle="ButtonStyle.Primary" />
                    </RadzenColumn>
                }
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn Size="3"></RadzenColumn>
</RadzenRow>