@page "/tutor"

@using System
@using System.Text
@using System.Reflection
@using Dapper;
@using System.Data.SqlClient;
@using Radzen;
@using Radzen.Blazor;
@using Microsoft.Extensions.Configuration;
@using System.Globalization;
@using Microsoft.Extensions.Logging;
@using Microsoft.Extensions.Logging.EventLog;
@using Blazored.SessionStorage;
@using Mentor.Data;

@inject IConfiguration AppConfig
@inject ISessionStorageService SessionStorage
@inject IPermissionService PermissionService;

@inject TooltipService TooltipService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService

@inject IUserService UserService;
@inject ITutorService TutorService;
@inject ILessonService LessonService
@inject ILessonStatusService LessonStatusService
@inject ISubjectService SubjectService;
@inject ILevelService LevelService;
@inject ICompetenceService CompetenceService
@inject IWorkTypeService WorkTypeService;
@inject IRatingService RatingService;
@inject IAvailabilityService AvailabilityService
@inject IUserToCityService UserToCityService


@if (AppState.IsNull())
{
    <p>Loading menu...</p>
}
else
{
    <TopMenu @ref=@Menu AppState="@AppState" IsRendered="@IsRendered"></TopMenu>
}

@if ((AppState.UserInfo.IsAuthenticated.IsTrue()))
{
    <RadzenRow Style="margin-top:60px">
        <RadzenColumn Size="12">
            <RadzenTabs RenderMode="TabRenderMode.Client" Style="height:max-content">
                <Tabs>
                    <RadzenTabsItem Text="Tutor Info">
                        <RadzenRow>
                            <RadzenColumn Size="6">
                                <RadzenRow Style="margin-bottom:2px">
                                    <RadzenColumn Size="6"><RadzenText Text="Fullname"></RadzenText></RadzenColumn>
                                    <RadzenColumn Size="6"><RadzenText Text="Worktype"></RadzenText></RadzenColumn>
                                </RadzenRow>
                                <RadzenRow Style="margin-bottom:10px">
                                    <RadzenColumn Size="6"><RadzenTextBox Disabled="true" Style="width:inherit" @bind-Value=@TutorObject.TUTOR_FULLNAME></RadzenTextBox></RadzenColumn>
                                    <RadzenColumn Size="6"><RadzenTextBox Disabled="true" Style="width:inherit" @bind-Value=@TutorObject.WORK_TYPE_NAME></RadzenTextBox></RadzenColumn>
                                </RadzenRow>
                                <RadzenRow Style="margin-bottom:2px">
                                    <RadzenColumn Size="6"><RadzenText Text="Phone"></RadzenText></RadzenColumn>
                                    <RadzenColumn Size="6"><RadzenText Text="E-mail"></RadzenText></RadzenColumn>
                                </RadzenRow>
                                <RadzenRow Style="margin-bottom:10px">
                                    <RadzenColumn Size="6"><RadzenTextBox Disabled="true" Style="width:inherit" @bind-Value=@TutorObject.TUTOR_PHONE></RadzenTextBox></RadzenColumn>
                                    <RadzenColumn Size="6"><RadzenTextBox Disabled="true" Style="width:inherit" @bind-Value=@TutorObject.TUTOR_EMAIL></RadzenTextBox></RadzenColumn>
                                </RadzenRow>
                                <RadzenRow Style="margin-bottom:10px">
                                    <RadzenColumn Size="1"><RadzenText Text="Rating" Style="margin-top:7px;"></RadzenText></RadzenColumn>
                                    <RadzenColumn Size="11"><RadzenRating Style="margin-top:7px;" ReadOnly="true" @bind-Value="@TutorObject.TUTOR_RATING"></RadzenRating></RadzenColumn>
                                </RadzenRow>
                                <RadzenRow Style="margin-bottom:10px">
                                    <RadzenColumn Size="12">
                                        <RadzenTextArea Disabled="true" @bind-Value=@TutorObject.TUTOR_DESCRIPTION MaxLength="500" Rows="8" Style="width:inherit"></RadzenTextArea>
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenColumn>
                            <RadzenColumn Size="6">
                                <RadzenRow Style="margin-bottom:2px">
                                    <RadzenText Text="Competences"></RadzenText>
                                </RadzenRow>
                                <RadzenRow Style="margin-bottom:12px">
                                    <RadzenDataGrid Data="@CompetenceEnum"
                                                    AllowMultiColumnSorting="true"
                                                    ClearFilterText="true"
                                                    AllowColumnResize="true"
                                                    FilterMode="FilterMode.Simple"
                                                    AllowFiltering="false"
                                                    AllowPaging="true"
                                                    AllowSorting="true"
                                                    AllowVirtualization="true"
                                                    ShowPagingSummary="true"
                                                    PageSize="7"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    LogicalFilterOperator="LogicalFilterOperator.And"
                                                    Visible="true"
                                                    Style="width:inherit">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="CompetenceModel" Property="SUBJECT_NAME" Filterable="false" Title="Subject" Frozen="true" TextAlign="TextAlign.Left" />
                                            <RadzenDataGridColumn TItem="CompetenceModel" Property="LEVEL_NAME" Title="Education Level" Frozen="true" TextAlign="TextAlign.Left" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenRow>
                                <RadzenRow Style="margin-bottom:2px">
                                    <RadzenText Text="Cities"></RadzenText>
                                </RadzenRow>
                                <RadzenRow Style="margin-bottom:12px">
                                    <RadzenDataGrid Data="@UserToCityEnum"
                                                    AllowMultiColumnSorting="true"
                                                    ClearFilterText="true"
                                                    AllowColumnResize="true"
                                                    FilterMode="FilterMode.Simple"
                                                    AllowFiltering="false"
                                                    AllowPaging="true"
                                                    AllowSorting="true"
                                                    AllowVirtualization="true"
                                                    ShowPagingSummary="true"
                                                    PageSize="7"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    LogicalFilterOperator="LogicalFilterOperator.And"
                                                    Visible="true"
                                                    Style="width:inherit">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="UserToCityModel" Property="CITY_NAME" Filterable="false" Title="City" Frozen="true" TextAlign="TextAlign.Left" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenRow>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenTabsItem>

                    <RadzenTabsItem Text="Calendar" Visible="@IsCalendarVisible">
                        <RadzenScheduler @ref=@Scheduler
                                         Style="height:650px"
                                         TItem="LessonModel"
                                         Data=@LessonEnum
                                         StartProperty="DATE_START"
                                         EndProperty="DATE_STOP"
                                         TextProperty="CAPTION_FOR_TUTOR"
                                         SelectedIndex="1"
                                         SlotSelect=@OnSlotSelect
                                         SlotRender=@OnSlotRender
                                         AppointmentSelect=@OnLessonSelect
                                         AppointmentRender="@OnLessonRender"
                                         AppointmentMouseEnter="@OnLessonHover">
                            <RadzenMonthView MaxAppointmentsInSlot="1" />
                            <RadzenWeekView MinutesPerSlot="15" TimeFormat="HH:mm" />
                            <RadzenDayView MinutesPerSlot="15" TimeFormat="HH:mm" />
                        </RadzenScheduler>
                    </RadzenTabsItem>

                </Tabs>
            </RadzenTabs>
        </RadzenColumn>
    </RadzenRow>

}