@page "/user"

@implements IDisposable

@using System
@using System.Text
@using System.Reflection
@using Dapper;
@using System.Data.SqlClient;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;
@using Microsoft.Extensions.Configuration;
@using System.Globalization;
@using Microsoft.Extensions.Logging;
@using Microsoft.Extensions.Logging.EventLog;
@using Blazored.SessionStorage;
@using Mentor.Data;
@using System.Text.RegularExpressions;

@inject IConfiguration AppConfig
@inject ISessionStorageService SessionStorage
@inject IPermissionService PermissionService

@inject TooltipService TooltipService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService

@inject IUserService UserService;
@inject IGroupService GroupService;
@inject IWorkTypeService WorkTypeService;
@inject ILevelService LevelService;
@inject ISubjectService SubjectService;
@inject ICompetenceService CompetenceService;
@inject ILessonService LessonService;
@inject ITutorService TutorService;
@inject ICityService CityService;
@inject IUserToCityService UserToCityService;
@inject IUserNotificationService UserNotificationService;

@if (AppState.IsNull())
{
    <p>Loading menu...</p>
}
else
{
    <TopMenu AppState="@AppState" IsRendered="@IsRendered"></TopMenu>
}

@if ((AppState.UserInfo.IsNotNull()) && (AppState.UserInfo.IsAuthenticated.IsTrue()))
{
    <RadzenRow Style="margin-top:60px">
        <RadzenColumn Size="12">
            <RadzenTabs RenderMode="TabRenderMode.Client" Style="height: max-content">
                <Tabs>
                    <RadzenTabsItem Text="My Account">
                        <RadzenCard>
                            <RadzenButton Text="Save" Icon="save" Click="UserSave" Disabled="@DisableSave" Style="margin-right:5px" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                            <RadzenButton Text="Revert Changes" Icon="cancel" Click="RevertChanges" Disabled="@DisableSave" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                        </RadzenCard>
                        <RadzenCard Style="margin-top:10px">
                            <RadzenStack Style="width:inherit" Orientation="Orientation.Horizontal">
                                <RadzenStack Style="width:50%">
                                    <RadzenRow>
                                        <RadzenColumn Size="@ColumnLabelSize"><RadzenText Text="Fullname"></RadzenText></RadzenColumn>
                                        <RadzenColumn Size="@ColumnControlSize"><RadzenTextBox Style="width:inherit" @bind-Value=@UserObject.USER_FULLNAME MaxLength="50" Placeholder="" Change="@OnChange"></RadzenTextBox></RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn Size="@ColumnLabelSize"><RadzenText Text="Nickname"></RadzenText></RadzenColumn>
                                        <RadzenColumn Size="@ColumnControlSize"><RadzenTextBox Style="width:inherit" @bind-Value=@UserObject.USER_NICKNAME MaxLength="50" Placeholder="" Disabled="true"></RadzenTextBox></RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn Size="@ColumnLabelSize"><RadzenText Text="E-mail"></RadzenText></RadzenColumn>
                                        <RadzenColumn Size="@ColumnControlSize"><RadzenTextBox Style="width:inherit" @bind-Value=@UserObject.USER_EMAIL MaxLength="50" Placeholder="" Disabled="true"></RadzenTextBox></RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn Size="@ColumnLabelSize"><RadzenText Text="Phone"></RadzenText></RadzenColumn>
                                        <RadzenColumn Size="@ColumnControlSize"><RadzenTextBox Style="width:inherit" @bind-Value=@UserObject.USER_PHONE MaxLength="50" Placeholder="" Change="@OnChange"></RadzenTextBox></RadzenColumn>
                                    </RadzenRow>
                                </RadzenStack>
                                <RadzenStack Style="width:50%">
                                    @if(UserObject.IsTutor)
                                    {
                                        <RadzenRow>
                                            <RadzenColumn Size="@ColumnLabelSize"><RadzenText Text="Work Type"></RadzenText></RadzenColumn>
                                            <RadzenColumn Size="@ColumnControlSize">
                                                <RadzenDropDown @bind-Value=@UserObject.WORK_TYPE_ID
                                                                TextProperty="WORK_TYPE_NAME"
                                                                ValueProperty="WORK_TYPE_ID"
                                                                TValue="int"
                                                                AllowClear="false"
                                                                Style="width:min-content"
                                                                Data=@WorkTypeEnum
                                                                Change=@(args => OnDropDownChange(args, "WORK_TYPE")) />
                                            </RadzenColumn>
                                        </RadzenRow>
                                    }
                                </RadzenStack>
                            </RadzenStack>
                        </RadzenCard>
                        <RadzenCard Style="margin-top:10px">
                            <RadzenRow>
                                <RadzenColumn Size="@ColumnLabelSize"><RadzenText Text="Description"></RadzenText></RadzenColumn>
                                <RadzenColumn Size="@ColumnControlSize"><RadzenTextArea @bind-Value=@UserObject.USER_DESCRIPTION MaxLength="500" Rows="5" Style="width:inherit" Change="@OnChange"></RadzenTextArea></RadzenColumn>
                            </RadzenRow>
                        </RadzenCard>
                    </RadzenTabsItem>

                    <RadzenTabsItem Text="My Password">
                        <RadzenCard Style="margin-top:10px; width:600px">
                            <RadzenButton Text="Save New Password" Icon="save" Click="PasswordSave" Disabled="@DisablePasswordSave" Style="margin-right:5px" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                        </RadzenCard>
                        <RadzenCard Style="margin-top:10px; width:600px">
                            <RadzenColumn Size="3">
                                <RadzenStack Orientation="Orientation.Vertical">
                                    <RadzenPassword @bind-Value="Pass1" AutoComplete="false" Placeholder="Enter Password" Change="OnPasswordChange"></RadzenPassword>
                                    <RadzenPassword @bind-Value="Pass2" AutoComplete="false" Placeholder="Repeat Password" Change="OnPasswordChange"></RadzenPassword>
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenCard>
                    </RadzenTabsItem>

                    @if (UserObject.IsTutor)
                    {
                        <RadzenTabsItem Text="My Competences">
                            <RadzenCard>
                                <RadzenRow Style="margin-bottom: 10px">
                                    <RadzenColumn Size="2"><RadzenText Text="Subject"></RadzenText></RadzenColumn>
                                    <RadzenColumn Size="2"><RadzenText Text="Level"></RadzenText></RadzenColumn>
                                </RadzenRow>
                                <RadzenRow>
                                    <RadzenColumn Size="2">
                                        <RadzenDropDown @bind-Value=@CompetenceObject.SUBJECT_ID
                                                        TextProperty="SUBJECT_NAME"
                                                        ValueProperty="SUBJECT_ID"
                                                        TValue="int"
                                                        AllowClear="false"
                                                        Style="width:inherit"
                                                        Data=@SubjectEnum
                                                        AllowFiltering="true"
                                                        FilterAsYouType="true" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="2">
                                        <RadzenDropDown @bind-Value=@CompetenceObject.LEVEL_ID
                                                        TextProperty="LEVEL_NAME"
                                                        ValueProperty="LEVEL_ID"
                                                        TValue="int"
                                                        AllowClear="false"
                                                        Style="width:inherit"
                                                        Data=@LevelEnum
                                                        AllowFiltering="true"
                                                        FilterAsYouType="true" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="4">
                                        <RadzenButton Text="Add Competence" Icon="add" Click="AddCompetence" Disabled="@DisableAdd" Style="margin-right:5px" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenCard>
                            <RadzenCard Style="margin-top:10px">
                                <RadzenRow>
                                    <RadzenColumn Size="6">
                                        <RadzenDataGrid Data="@CompetenceEnum"
                                                        AllowFiltering="false"
                                                        AllowMultiColumnSorting="true"
                                                        ClearFilterText="true"
                                                        AllowColumnResize="true"
                                                        FilterMode="FilterMode.Simple"
                                                        AllowPaging="true"
                                                        AllowSorting="true"
                                                        AllowVirtualization="true"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.And"
                                                        Visible="true"
                                                        Style="width:inherit">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="CompetenceModel" Property="SUBJECT_NAME" Filterable="false" Title="Subject" Frozen="true" TextAlign="TextAlign.Left" />
                                                <RadzenDataGridColumn TItem="CompetenceModel" Property="LEVEL_NAME" Title="Education Level" Frozen="true" TextAlign="TextAlign.Left" />
                                                <RadzenDataGridColumn TItem="CompetenceModel" Property="ID" Title="Del" Frozen="true" Sortable="false" Filterable="false" Width="60px">
                                                    <Template Context="CompetenceModel">
                                                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="clear" Click=@(() => DeleteCompetence(CompetenceModel.ID)) />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenCard>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="My Cities">
                            <RadzenCard>
                                <RadzenRow Style="margin-bottom: 10px">
                                    <RadzenColumn Size="2"><RadzenText Text="City"></RadzenText></RadzenColumn>
                                </RadzenRow>
                                <RadzenRow>
                                    <RadzenColumn Size="4">
                                        <RadzenDropDown @bind-Value=@CityObject.CITY_ID
                                                        TextProperty="CITY_NAME"
                                                        ValueProperty="CITY_ID"
                                                        TValue="int"
                                                        AllowClear="false"
                                                        Style="width:inherit"
                                                        Data=@CityEnum
                                                        AllowFiltering="true"
                                                        FilterAsYouType="true" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="4">
                                        <RadzenButton Text="Add City" Icon="add" Click="AddCity" Disabled="@DisableAdd" Style="margin-right:5px" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenCard>
                            <RadzenCard Style="margin-top:10px">
                                <RadzenRow>
                                    <RadzenColumn Size="6">
                                        <RadzenDataGrid Data="@UserToCityEnum"
                                                        AllowFiltering="false"
                                                        AllowMultiColumnSorting="true"
                                                        ClearFilterText="true"
                                                        AllowColumnResize="true"
                                                        FilterMode="FilterMode.Simple"
                                                        AllowPaging="true"
                                                        AllowSorting="true"
                                                        AllowVirtualization="true"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.And"
                                                        Visible="true"
                                                        Style="width:inherit">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="UserToCityModel" Property="CITY_NAME" Filterable="false" Title="City" Frozen="true" TextAlign="TextAlign.Left" />
                                                <RadzenDataGridColumn TItem="UserToCityModel" Property="ID" Title="Del" Frozen="true" Sortable="false" Filterable="false" Width="60px">
                                                    <Template Context="UserToCityModel">
                                                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="clear" Click=@(() => DeleteCity(UserToCityModel.ID)) />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenCard>
                        </RadzenTabsItem>
                    }

                    @if (UserObject.IsStudent || UserObject.IsTutor)
                    {
                        <RadzenTabsItem Text="My Notifications">
                            <RadzenCard>
                                <RadzenRow>
                                    <RadzenColumn Size="12">
                                        <RadzenDataGrid Data="@UserNotificationEnum"
                                                        AllowFiltering="false"
                                                        AllowMultiColumnSorting="true"
                                                        ClearFilterText="true"
                                                        AllowColumnResize="false"
                                                        FilterMode="FilterMode.Simple"
                                                        AllowPaging="true"
                                                        AllowSorting="true"
                                                        AllowVirtualization="true"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.And"
                                                        CellRender="@OnRenderNotification"
                                                        Visible="true"
                                                        Style="width:inherit">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="UserNotificationModel" Property="TEXT" Filterable="false" Title="Notification" Width="400px" Frozen="true" TextAlign="TextAlign.Center" />
                                                <RadzenDataGridColumn TItem="UserNotificationModel" Property="LESSON_SUBJECT" Filterable="false" Title="Subject" Width="120px" Frozen="true" TextAlign="TextAlign.Center" />
                                                <RadzenDataGridColumn TItem="UserNotificationModel" Property="LESSON_DATE" Title="Lesson Date" Width="120px" Frozen="true" TextAlign="TextAlign.Center" />
                                                <RadzenDataGridColumn TItem="UserNotificationModel" Property="SENT_DATE" Filterable="false" Title="Received at" Width="200px" Frozen="true" TextAlign="TextAlign.Center" />
                                                @if (UserObject.IsTutor)
                                                {
                                                    <RadzenDataGridColumn TItem="UserNotificationModel" Property="LESSON_ID" Filterable="false" Title="Lesson" Frozen="true" Width="80px" TextAlign="TextAlign.Center">
                                                        <Template Context="UserNotificationModel">
                                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Disabled="UserNotificationModel.TUTOR_READ" Icon="description" Click=@(() => OpenLessonDetails(UserNotificationModel.LESSON_ID, UserNotificationModel.ID)) />
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                }
                                                else
                                                {
                                                    <RadzenDataGridColumn TItem="UserNotificationModel" Property="LESSON_ID" Filterable="false" Title="Lesson" Frozen="true" Width="80px" TextAlign="TextAlign.Center">
                                                        <Template Context="UserNotificationModel">
                                                            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Disabled="UserNotificationModel.STUDENT_READ" Icon="description" Click=@(() => OpenLessonDetails(UserNotificationModel.LESSON_ID, UserNotificationModel.ID)) />
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                }
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenCard>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="My Lessons">
                            <RadzenCard>
                                <RadzenDataGrid Data="@LessonEnum"
                                                AllowFiltering="false"
                                                AllowMultiColumnSorting="true"
                                                ClearFilterText="true"
                                                AllowColumnResize="true"
                                                FilterMode="FilterMode.Simple"
                                                AllowPaging="true"
                                                AllowSorting="true"
                                                AllowVirtualization="true"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                LogicalFilterOperator="LogicalFilterOperator.And"
                                                Visible="true">
                                    <Columns>
                                        <RadzenDataGridColumn TItem="LessonModel" Property="TUTOR_NAME" Filterable="false" Title="Tutor" Frozen="true" Visible="@UserObject.IsStudent" TextAlign="TextAlign.Center">
                                            <Template Context="LessonModel">
                                                <RadzenLink >@LessonModel.TUTOR_NAME</RadzenLink>
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="LessonModel" Property="STUDENT_NAME" Filterable="false" Title="Student" Frozen="true" Visible="@UserObject.IsTutor" TextAlign="TextAlign.Center" />
                                        <RadzenDataGridColumn TItem="LessonModel" Property="SUBJECT_NAME" Filterable="false" Title="Subject" Frozen="true" TextAlign="TextAlign.Center" />
                                        <RadzenDataGridColumn TItem="LessonModel" Property="DATE_START" Filterable="false" Title="Start Date" Frozen="true" TextAlign="TextAlign.Center">
                                            <Template Context="LessonModel">
                                                <RadzenText Text="@LessonModel.DATE_START.ToString("g")"></RadzenText>
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="LessonModel" Property="DATE_STOP" Filterable="false" Title="End Date" Frozen="true" TextAlign="TextAlign.Center">
                                            <Template Context="LessonModel">
                                                <RadzenText Text="@LessonModel.DATE_STOP.ToString("g")"></RadzenText>
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="LessonModel" Property="LESSON_STATUS_NAME" Filterable="false" Title="Status" Frozen="true" TextAlign="TextAlign.Center" Width="100px">
                                            <Template Context="LessonModel">
                                                <RadzenIcon Icon="@LessonModel.LESSON_STATUS_ICON" MouseEnter="@(args => ShowTooltip(args, LessonModel.LESSON_STATUS_NAME))" />
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="LessonModel" Property="RATING_NAME" Filterable="false" Title="Rating" Frozen="true" TextAlign="TextAlign.Center">
                                            <Template Context="LessonModel">
                                                <RadzenRating @bind-Value=@LessonModel.RATING_VALUE MouseEnter="@(args => ShowTooltip(args, LessonModel.RATING_NAME))" ReadOnly='true'></RadzenRating>
                                            </Template>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="LessonModel" Property="LESSON_ID" Title="Details" Frozen="true" Sortable="false" Filterable="false" Width="60px">
                                            <Template Context="LessonModel">
                                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="description" Click=@(() => OpenLessonDetails(LessonModel.LESSON_ID, 0)) />
                                            </Template>
                                        </RadzenDataGridColumn>
                                    </Columns>
                                </RadzenDataGrid>
                            </RadzenCard>
                        </RadzenTabsItem>
                    }
                </Tabs>
            </RadzenTabs>
        </RadzenColumn>
    </RadzenRow>
}
