@inherits LayoutComponentBase

@implements IDisposable

@using Dapper;
@using System.Data.SqlClient;
@using Mentor.Pages;
@using Radzen;
@using System.Threading;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;
@using Microsoft.AspNetCore.Components;
@using Microsoft.Extensions.Configuration;
@using System.Globalization;
@using Microsoft.Extensions.Logging;
@using Microsoft.Extensions.Logging.EventLog;
@using System.Reflection;
@using Blazored.SessionStorage;
@using Mentor.Data;
@using System.Diagnostics

@inject ISessionStorageService SessionStorage
@inject IConfiguration AppConfig
@inject IJSRuntime JSRuntime;

@inject TooltipService TooltipService
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService

@inject IUserService UserInfoService
@inject IGroupService UserGroupService

@inject IUserNotificationService UserNotificationService;

<div class="row float-left">
    <RadzenMenu Visible="@IsRendered" Click="@GoBackJS" Style="margin-left: 16px">
        <RadzenMenuItem Text="Back" Icon="arrow_back" Style="padding-right:25px;"></RadzenMenuItem>
    </RadzenMenu>
</div>

<div class="row float-right" style="margin-right:0px">

    <RadzenMenu Click="@(args => OnMenuItemClick(args))" Style="padding-right:5px">

        @if (AppState.IsNotNull())
        {
            @if (AppState.UserInfo.IsNotNull() && AppState.UserInfo.IsAuthenticated)
            {
                <RadzenMenuItem Text="@AppState.UserInfo.USER_NICKNAME" Icon="person"></RadzenMenuItem>
                @if (AppState.UserInfo.IsAdmin)
                {
                    <RadzenMenuItem Text="Settings" Icon="settings"></RadzenMenuItem>
                }
                else if (AnyNewNotifications)
                {
                    <RadzenMenuItem Text="Notifications" Icon="feedback" IconColor="red" MouseEnter="@(args => ShowTooltip(args, @NotificationsNumber + " new notifications"))"></RadzenMenuItem>
                }
                else
                {
                    <RadzenMenuItem Text="Notifications" Icon="feedback"></RadzenMenuItem>
                }
                <RadzenMenuItem Text="Logout" Icon="lock"></RadzenMenuItem>
            }
            else
            {
                <RadzenMenuItem Text="Sign Up" Icon="assignment_ind"></RadzenMenuItem>
                <RadzenMenuItem Text="Login" Icon="lock_open"></RadzenMenuItem>
            }
        }
        else
        {
            <RadzenMenuItem Text="Login" Icon="lock_open"></RadzenMenuItem>
        }
    </RadzenMenu>
</div>


@code {
    [Parameter]
    public AppState AppState { get; set; } = new AppState();
    [Parameter]
    public bool IsRendered { get; set; } = false;

    private string msg { get; set; }
    private string NotificationPosition { get { return AppConfig.GetSection("PopUpNotifications").GetValue<string>("Position"); } }
    private int NotificationDuration { get { return AppConfig.GetSection("PopUpNotifications").GetValue<int>("Duration"); } }

    private IEnumerable<UserNotificationModel> NewUserNotifications = new List<UserNotificationModel>();

    private bool AnyNewNotifications
    {
        get
        {
            bool retval = false;
            if (NewUserNotifications.Any())
            {
                retval = true;
            }
            return retval;
        }
    }

    private int NotificationsNumber
    {
        get
        {
            return NewUserNotifications.Count();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        IsRendered = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitializeSession();

            IsRendered = true;

            StateHasChanged();
        }
    }

    private async Task InitializeSession()
    {
        try
        {
            if (await SessionStorage.ContainKeyAsync("APP_STATE"))
            {
                AppState = await SessionStorage.GetItemAsync<AppState>("APP_STATE");
                await InitializeData();
            }
        }
        catch (Exception ex)
        {
            EventLog.WriteEntry("Mentor", ex.Message, EventLogEntryType.Error);
        }
    }

    private async Task InitializeData()
    {
        try
        {
            if (AppState.UserInfo.IsNotNull())
            {
                NewUserNotifications = await UserNotificationService.SelectAllNewByUserAsync(AppState.UserInfo.USER_ID);
            }
        }
        catch (Exception ex)
        {
            EventLog.WriteEntry("Mentor", ex.Message, EventLogEntryType.Error);
        }
    }

    private async Task OnMenuItemClick(Radzen.MenuItemEventArgs args)
    {
        if (args.Text == "Login")
        {
            NavigationManager.NavigateTo("/login");
        }

        if (args.Text == "Sign Up")
        {
            NavigationManager.NavigateTo("/signup");
        }

        if (AppState.UserInfo != null && AppState.UserInfo.IsAuthenticated)
        {
            if (args.Text == AppState.UserInfo.USER_NICKNAME)
            {
                NavigationManager.NavigateTo("/user");
            }
        }

        if (args.Text == "Notifications")
        {
            string style = "min-width:fit-content;min-height:fit-content;height:fit-content;width:fit-content;";
            var newOptions = new DialogOptions();
            newOptions.Style += style;
            await DialogService.OpenAsync<Notifications>(String.Format("New notifications - {0}", NewUserNotifications.Count()), new Dictionary<string, object> { }, newOptions);
            NewUserNotifications = await UserNotificationService.SelectAllNewByUserAsync(AppState.UserInfo.USER_ID);
        }

        if (args.Text == "Logout")
        {
            AppState.UserInfo = new();
            await SessionStorage.SetItemAsync<AppState>("APP_STATE", AppState);
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "User logged out" });
            NavigationManager.NavigateTo("./");
        }

        if (args.Text == "Settings")
        {
            NavigationManager.NavigateTo("/settings");
        }
    }

    public async Task Reload()
    {
        await InitializeData();
    }

    private void ShowNotification(NotificationMessage message)
    {
        try
        {
            message.Style = NotificationPosition;
            message.Duration = NotificationDuration;
            NotificationService.Notify(message);
        }
        catch (Exception ex)
        {
            EventLog.WriteEntry("Mentor", ex.Message, EventLogEntryType.Error);
        }
    }

    private void ShowTooltip(ElementReference elementReference, string msg)
    {
        TooltipOptions options = new TooltipOptions() { Duration = NotificationDuration, Style = Globals.ColorTooltip };
        TooltipService.Open(elementReference, msg, options);
    }


    public void Dispose()
    {
    }

    private async void GoBackJS()
    {
        try
        {
            if (IsRendered)
            {
                await JSRuntime.InvokeVoidAsync("history.back");
            }
        }
        catch (Exception ex)
        {
            EventLog.WriteEntry("Mentor", ex.Message, EventLogEntryType.Error);
        }
    }
}
